---
import { Image } from "astro:assets";
import myMemoji from "../images/memoji.png";
---

<!-- run prettier: npx prettier --write src/pages/index.astro --><!-- Inspo page: https://kjelsrud.dev/ -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <meta name="description" content="Heyyy" /><style>
      header img {
        float: left;
        width: 70px;
        height: 70px;
      }

      header h1 {
        position: relative;
        top: 20px;
      }
      body {
        margin: 5% auto;
        background: #f2f2f2;
        color: #444444;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.8;
        text-shadow: 0 1px 0 #ffffff;
        max-width: 73%;
      }
      code {
        background: white;
      }
      a {
        border-bottom: 1px solid #444444;
        color: #444444;
        text-decoration: none;
      }
      a:hover {
        border-bottom: 0;
      }
    </style></head
  >
  <body>
    <header>
      <Image src={myMemoji} alt="Erin's memoji icon" />
      <h1>Erin Kirsten</h1>
    </header>

    <p>Computer Science Student at University of Illinois Urbana-Champaign</p>
    <h2>Resume</h2>
    <p>My resume</p>
    <h2>Projects</h2>
    <blockquote>
      <br />
      - <a href="http://google.com"><em>BMFW</em></a>
    </blockquote>

    <h1>For fun</h1>
    <h2>Music</h2>

    <p>My music</p>
    <h2>Hikes</h2>
    <p>Here are some fun hikes (Picture slideshow?)</p>
    <blockquote>
      "Quote about hiking..."<br />
      - <em>hiker</em>
    </blockquote>
    <hr />
    <i>Contact: erin.kirstn@gmail.com</i>
  </body>
</html>
