---
import Navigation from "../components/Navigation.astro";
import Socials from "../components/Socials.astro";

import { Image } from "astro:assets";

import myMemoji from "../images/memoji.png";
import "../styles/global.css";
---

<!-- run prettier: npx prettier --write src/pages/index.astro --><!-- Inspo page: https://kjelsrud.dev/ -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <meta name="description" content="Heyyy" /></head
  >
  <body>
    <Navigation />
    <div class="main">
      <div class="title">
        <Image src={myMemoji} alt="Erin's memoji icon" />
        <h1>Erin Kirsten</h1>
        <Socials />
      </div>
      <i
        ><p>
          Computer Science + Statistics Student at the University of Illinois
          Urbana-Champaign.
        </p></i
      >

      <h2>Professional</h2>
      <p>📄 - <a href="/posts/resume/"> Resume</a></p>
      <p>💻 - <a href="/posts/projects/">Projects</a></p>
      <h2>Personal</h2>
      <p>🎶 - <a href="/music"> Music</a></p>
      <p>📚 - <a href="/"> Bookshelf</a></p>
      <p>🥾 - <a href="/"> Hikes</a></p>
    </div>
  </body>
</html>
