---

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <title>Erin's Website</title>
    <img src="static/memoji.png" />
    <meta name="description" content="Heyyy" />
    <!-- <link rel="canonical" href="http://evenbettermotherfucking.website" /> -->
    <style>
      body {
        margin: 5% auto;
        background: #f2f2f2;
        color: #444444;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.8;
        text-shadow: 0 1px 0 #ffffff;
        max-width: 73%;
      }
      code {
        background: white;
      }
      a {
        border-bottom: 1px solid #444444;
        color: #444444;
        text-decoration: none;
      }
      a:hover {
        border-bottom: 0;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Erin's Website</h1>
      <aside>My short bio 😍</aside>
    </header>
    <h2>
      <strong>About me</strong>
    </h2>
    <p>Paragraph about me</p>
    <!-- <ul>
      <li>Shit's <em>still</em> lightweight and loads fast;</li>
      <li><em>Still</em> fits on all of your shitty screens;</li>
      <li><em>Still</em> looks the same in all of your shitty browsers;</li>
      <li>
        This motherfucker's <em>still</em> accessible to every asshole that
        visits your site;
      </li>
      <li>Shit's <em>still</em> legible and gets your fucking point across;</li>
      <li>
        <strong
          >Plus a hipstered domain extension and beautiful typography.</strong
        >
      </li>
    </ul> -->
    <h2>Resume</h2>
    <p>My resume</p>
    <h2>Projects</h2>
    <blockquote>
      "Erin is so cool"<br />
      - <a href="http://bettermotherfuckingwebsite.com"><em>BMFW</em></a>
    </blockquote>

    <h1>For fun</h1>
    <h2>Music</h2>

    <p>My music</p>
    <h2>Hikes</h2>
    <p>Here are some fun hikes (Picture slideshow?)</p>
    <blockquote>
      "Quote about hiking..."<br />
      - <em>hiker</em>
    </blockquote>
    <hr />
    <h2>Epilogue</h2>
    <p>
      Inspired by
      <a href="https://evenbettermotherfucking.website/"
        >https://evenbettermotherfucking.website/</a
      >
    </p>
  </body>
</html>

