---
import "../styles/global.css";
import Social from "fulldev-ui/components/Social.astro";
---

<div
  style="flex: 1; max-width:50%; display: flex; flex-direction: row; margin-left: auto; justify-content:right; align-items: center;"
>
  <div style="flex: 1;">
    <Social icon="mail" href="mailto:erin.kirstn@gmail.com" />
  </div>
  <div style="flex: 1;">
    <Social href="https://www.linkedin.com/in/erin-kirsten/" />
  </div>
  <div style="flex: 1;">
    <Social href="https://github.com/erinkirstn" />
  </div>
</div>
